body { 
  background-color: #B79CA5; 
}

.header {
  padding: 10px;
  text-align: center;
  background: #5F5D5F;
  color: #B79CA5;
}

.titles {
  background-color: #5F5D5F;
  color: #B79CA5;
  padding: 5px; 
  letter-spacing: 15px;
}

hr.style2 {
  border-top: 3px double black;
}


h1 { 
  font-size: 75px;
  letter-spacing: 35px;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #5F5D5F;
   color: #B79CA5;
   text-align: center;
}


