body { 
  background-image: url ("https://www.larutadelsorigens.cat/wallpic/full/34-345725_luster-pink-marble-glitter-wallpaper-in-resolution-rose.jpg");
}

div.a {
  text-align: left;
 }

}

hr.style2 {
  border-top: 3px double black;
}

img { 
  padding: 5px; 
  border: 5px solid black;
}


h1 { 
  font-size: 75px;
  letter-spacing: 30px;
}


